body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.formContent {
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 60%;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.extra {
    text-align: center;
    width: 90%;
    max-width: 450px;
}

input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    transition: all 0.2s;
}

input[type=submit]:hover {
    background-color: #39ace7;
}
  
input[type=submit]:active {
    transform: scale(0.95);
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s;
    border-radius: 5px 5px 5px 5px;
}
  
input[type=text]:focus , input[type=password]:focus {
    background-color: #fff;
    border: 2px solid #5fbae9;
}

.option {
    position: relative;
    padding-left: 40px;
}

.options label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer
}

.option input {
    opacity: 0
}

.checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e6e6e6;
    border-radius: 20%
}

.checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
    background: #56baed;
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.buttons {
    justify-content: end;
    display: flex;
    width: 100%;
}

#icon {
    margin: 20px;
}

*:focus {
    outline: none;
} 